@import "helpers.scss";
$link-color1: hsl(18,85%,39%);
$link-color: hsl(222, 29%, 35%);

$small-font: 11pt;
$med-font: 16pt;
$big-font: 34pt;
$biggest-font: 38pt;

//=======Normalize / General =======>>>>>>

body, p{
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;

}

h1, h2, h3, h4, h5{
	margin: 0;
	font-family: 'Artifika', serif;
	text-rendering: optimizeLegibility;
}

h1{
	font-size: $biggest-font;
	font-weight: 500;
}

h2{
	text-align: center;
	margin: 2% 1%;
	font-size: $big-font;
	text-shadow: 2px 2px 2px darkslategrey;
}

a{
	color: $link-color1;
	transition: color 0.5s;
	&:visited{
		color: complement($link-color1);
	}
	&:hover{
		color: invert($link-color);
	}
}


//====classes-------------


	.img-wrapper{
		margin: 2%;
		display: inline-block;
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		border: $standard-border;
		box-shadow: 1px 2px 5px 2px #191f1f;
		min-height: 150px;
	}


	.float-left{
		float: left;
		
	}

	.float-right{
		float: right;
	}

	.small{
		width: 20vw;
		height: 15vh;
		flex-grow: 1;
		min-width: 100px;
	}
	.medium{
		width: 40vw;
		height: 20vh;
		flex-grow: 1;
	}
	.large{
		width: 40vw;
		height: 40vh;
	}

	.block{
		display: block;
		height: 30vh;
		width: 96%;
		margin: auto;
		background-position: center center;
		flex-grow: 1;
	}

	.social{
		height: 39px;
		width: 39px;
		transition: opacity 0.5s;
		border-radius: 50%;
		opacity: 0.6;
		&:hover{
			opacity: 1;
		}
	}

	.make-block{
		display: block;
		width: 100%;
		text-align: center;
	}

//============= Backgrounds ========>>>>>>>>

.full-page{
	@extend %flexDad;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	color: white;
}

.auto-page{
	@extend %flexDad;
	overflow: hidden;
	height: auto;
	width: 100%;
	color: white;
}

.white-section{
	@extend .full-page;
	@extend %border-top-and-bot;
	background-color: white;
	color: black;
}

.black-section{
	@extend .full-page;
	@extend %border-top-and-bot;
	background-color: black;
	color: white;
}

.orange-backdrop1{
	@extend %backdrop-area;
	background-image: url('../images/backdrops/leaves-tall.jpg');
	background-blend-mode: color-dodge;
}

.blue-backdrop1{
	@extend %backdrop-area;
	background-image: url('../images/backdrops/trees-tall.jpg');
	background-blend-mode: soft-light;

}

.blue-backdrop2{
	@extend %backdrop-area;
	background-image: url('../images/backdrops/prayerflags-tall.jpg');
	background-blend-mode: exclusion;
}

//============= Landing =======>>>>>>>>

.pic{
	@extend %covering-background;
	background-image: url('../images/other/portrait.jpg');
	background-position: 90%;
	border-radius: 50%;
	border: solid silver 2px;
	height: 180px;
	width: 180px;
	margin: 3%;
}

.landing{
	align-items: center;
	color: white;
	.middle{
		width: 92%;
		padding: 3%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		top: -5%;
		position: relative;
		color: silver;
		//box-shadow: 1px 4px 12px 3px rgb(50,50,50);
		.intro-text{
			width: 50%;
			flex-grow: 1;
			font-size: $med-font;
			text-align: justify;
			.intro-text-content{
				@include simple-border(white, 'bottom');
				padding: 2%;				
			}
			.intro-under{
				padding: 2%;

			}

		}



	}


	.tagline{
		height: 30px;
		line-height: 30px;
		flex-grow: 1;
		width: 100%;
		margin-right: 25%;
		@include simple-border($link-color, 'top');
		padding: 3%;
		display: flex;
		justify-content: space-around;
		align-self: flex-end;
		span{
			flex-grow: 1;
			text-align: center;
		}

		nav{
			font-size: $med-font;
			display: flex;
			justify-content: space-around;
			flex-grow: 3;
			font-family: 'Artifika', serif;
			span{
				color: $link-color;
			}
		}
	
			a{
			color: invert($link-color);
			text-decoration: none;
			margin: 0% 2%;
			transition: color 0.5s;
			&:hover{
				color: $link-color;
				}
			}
			.right{
				position: absolute;
				right: 15vw;
				bottom: 30px;
				font-size: $big-font;
				color: white;
				cursor: pointer;
			}	

	}

	.front-heading{
		h1{
			@include simple-border($link-color, 'bottom');
			padding-left: 5%;
			font-size: $biggest-font;
		}
		span{
			padding-left: 15%;
		}
		text-align: left;
		width: 100%;
		margin-left: 25%;
		margin-bottom: 2%;
		padding: 3%;
		color: white;

	}
}


//=========== Preview ============>>>>>>>>>

.preview{
	align-items: center;
	padding: 2%;
	flex-wrap: wrap;
	padding-top: 10%;
	font-size: $med-font;
}

.sphere{
	border-radius: 50%;
	height: 180px;
	width: 180px;
	border: solid darkolivegreen 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: $big-font - 6;
	background-color: rgba(30,30,30,0.6);
	margin: 4% 1%;
	font-family: 'Artifika', serif;
}

.right{
	order: -1;
}

.preview-box{
	padding: 1%;
	width: 70%;
	flex-grow: 1;


	ul, p{
		padding: 2%;
		flex-grow: 1;
		background-color: rgba(55,55,55,0.5);
	}
}

.list-wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	span{
		font-size: $med-font;
		font-weight: 700;
	}
	ul{
		padding:3%;
		margin: 1%;
		min-width: 150px;
		li{
			padding: 2px;
			margin: 5px;
			flex-grow: 1;
			border-radius: 15px;
			color: white;
			font-size: $med-font;
		}
	}

}




//================== Projects =========>>>>>

//----------Automagic----------



	.holder{
		height: auto;
		border-radius: 5px;
		width: 92%;
		background-color: white;
		margin: 3% auto;
		box-shadow: 1px 2px 5px 2px #191f1f, 1px 2px 5px 2px white;
		padding: 1%;
		.img-wrapper{
			border: solid invert($link-color1) 2px;
		}
		blockquote{
			border-bottom: dashed silver 1px;
			width: 100%;
			margin: 1%;
			font-style: italic;
		}
		cite{
			margin-left: 60px;
			font-style: normal;
			&::before{
				content: "--";
			}
		}
		p{
			line-height: 120%;
		}
	}

	.holder.smaller{
		width: 86%;
	}

.automagic{
	.holder.big{
		width: 100%;
		border-radius: 0;
	}
	font-size: $med-font;
	color: black;
	background-color: transparent;
	.auto1{
		background-image: url('../images/project-icons/automagic.jpg');
	}
	h2{
		color: white;
		}
	*{
		p{
			margin: 3% 1%;
			font-size: $med-font;
			color: rgb(40,40,40);
		}
	}
}

.auto2{
	background-image: url('../images/project-icons/amranks.jpg');
}

.auto3{
	background-image: url('../images/project-icons/am3admin.jpg');
	background-position: 0px 0px;
}

//--------details---->>>>

.automagic-details{
	height: auto;
	p{
		margin: 10px;
		padding: 0 2%;
		font-size: $med-font;
		text-align: justify;
	}
	h2{
		font-size: $big-font;
	}
}


//--------afterthoughts---->>>>>>

.automagic-afterthoughts{
	align-items: center;
	padding: 2%;
	min-height: 100vh;
	.holder{
		p{
			margin: 10px;
			padding: 0 2%;
			font-size: $med-font;
			text-align: justify;
			}		
		width: 70%;
		background-color: rgba(65,35,25,1);
		color: white;
		flex-grow: 1;
		margin: 2%;
		border: solid white 1px;
	}
}

//-=-=-=-=-=-=- Wordpress Section =-=-=-=-=-=->>>>>
$border-width: 4px;
$margin-width: 15px;


.wordpress{
	flex-wrap: wrap;
	.headings{
		width: 40%;
		flex-grow: 1;
		min-width: 250px;
		display: flex;
		flex-wrap: wrap;
		align-items: space-around;
		*{
			width: 100%;
		}
	}

	h2{
		text-shadow: none;
		z-index: 5;
		border-bottom: solid $link-color1 1px;
	}
	h3{
		@extend h2;
		font-size: 20pt;
	}
	.holder{
		color: black;
		display: flex;
		align-items: center;
		font-size: $med-font;

	}
	a{
		margin: $margin-width;
		flex-grow: 1;
		width: 40%;
		opacity: 0.4;
		&:hover{
			overflow: hidden;
			margin: $margin-width - $border-width;
			border: solid $link-color $border-width;
			opacity: 1;
		}
	}
	.img-wrapper{
		flex-grow: 1;
		height: 100%;
		width: 100%;
		margin: 0;
	}



}

.wp1{
	background-image: url('../images/project-icons/restauranttheme.jpg');
	background-position: center center;
}

.wp2{
	background-image: url('../images/project-icons/momblogtheme.jpg');
}


//========= Other Projects ---------->>>>

.other-projects{
	h2{
		width: 100%;
	}
	.img-wrapper{
		display: inline-flex;
		align-items: center;
		overflow: hidden;
		background-color: white;
		background-blend-mode: luminosity;
		max-width: 300px;
		&:hover{
			background-blend-mode: normal;
			a{
				padding: 50% 0;
				background-color: rgba(250,250,250,0.6);
				color: $link-color1;
			
			}
		}
		a{
			background-color: rgba(50,50,50,0.6);
			text-align: center;
			width: 100%;
			color: white;
			font-weight: 800;
			text-decoration: none;
			transition: all 0.5s;
		}
	}

}



//images--------------------

.hydrangeas{
	background-image: url('../images/project-icons/hydrangeas.jpg');
}

.mercy{
	background-image: url('../images/project-icons/mercy.jpg');
}

.calc{
	background-image: url('../images/project-icons/calc.jpg');
}

.teabag{
	background-image: url('../images/project-icons/teabag.jpg');
}

.tictactoe{
	background-image: url('../images/project-icons/tictactoe.jpg');
}

.timer{
	background-image: url('../images/project-icons/time.jpg');
}

.weather{
	background-image: url('../images/project-icons/weathersmall.jpg');
}

.wiki{
	background-image: url('../images/project-icons/wiki.jpg');
}

// .twitch{
// 	background-image: url('../images/project-icons/twitchapp.jpg');
// }

.portfolio{
	background-image: url('../images/project-icons/portfolio.jpg');
}
//-----------------



//================ Rogue-Like --=-=-=-=-=-=------->>>>>>>>

.rogue-like{
	@include simple-border(white, 'top');
	h2{
		font-size: $big-font;
		margin: 0;
	}
	p{
		text-align: center;
	}

}

.rl-wrapper{
	width: 90%;
	height: 76%;
	border: solid $link-color1 3px;
	overflow: hidden;
	cursor: pointer;


	p{
		position: relative;
		top: 40%;
		font-family: 'Courier', 'sans-serif';
		font-size: $med-font;
		text-align: center;
	}
	.allScreens{
		display: flex;
		margin: auto;
		align-items: flex-start;
		justify-content: stretch;
		counter-reset: skillIcon;
	}

	.centered-block{
		margin: auto;
		display: block;
	}
	.skillIcon{
		color: white;
		border-bottom: solid white 1px;
		margin-top: 2px;
	}
	.skillIcon::before{
		counter-increment: skillIcon;
		content: counter(skillIcon) ": ";
	}

	.skillBar{
		color: white;
		height: 90vh;
		min-width: 60px;
		max-width: 180px;
		background-color: rgba(50,50,50,1);
		flex-grow: 1;
		padding: 5px;
	}

}

.rl-desc{
	color: black;
	border: double black 8px;

	p{
		padding: 10px 5%;

	}
	background-color: white;
}


//----------About + Contact---------->>>>>>>

.about{
	align-items: flex-end;
	font-size: $med-font;
}

.mask-off{
	@extend .pic;
	background-image: url('../images/other/get_in_touch.jpg');
	background-position: 60%;
	margin: 3% auto;


}

.screen{
	width: 100%;
	background-color: white;
	color: black;
	@extend %border-top-and-bot;
	p{
		padding: 1%;
		text-align: justify;
	}

}

.contact-section{
	font-size: $med-font;
	p{
		padding: 0 2%;
		background-color: rgba(20,20,20,0.4);
		margin: 2%;
		text-align: center;
		display: flex;
		align-items: center;
	}
}

.contact{
	background-color: rgba(20,20,20,0.4);
	width: 90%;
	margin-bottom: 5%;

	.submitButton{
		position: relative;
		right: 5%;
		width: 20%;
		max-width: 200px;
		margin-top: 2.5%;
		height: 100px;
		float: right;
		border-radius: 7px;
		border: solid white 2px;
		background-color: $link-color1;
		color: white;
		font-size: 4vw;
		font-family: Artifika, serif;
		&:hover{
			background-color: lighten($link-color1, 20)
		}
	}
	label{
		display: block;
		flex-grow: 1;
		padding: 2%;
		textarea{
			margin-top: 2%;
			width: 98%;
			height: 300px;
		}
		input{
			width: 60%;
		}
	}
}





//=========footer========>>>>>>>>>>



.footer{
	overflow: hidden;
	background-color: darken(complement($link-color), 20);
	display: flex;
	flex-wrap: wrap;

	color: white;
	position: relative;
	@include simple-border(black, 'top');
	.footer-element{
		flex-grow: 1;
		border-right: dashed silver 1px;
		padding: 1%;
		margin: 1%;
		width: 28%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		&:last-of-type{
			border: none;
		}
	}

}






//===========Media Queries=======>>>>>>


//load wider backdrops for large displays
@media only screen and (min-width: 1000px){
.orange-backdrop1{
	background-image: url('../images/backdrops/leaves-medium.jpg');
}

.blue-backdrop1{
	background-image: url('../images/backdrops/trees-medium.jpg');
}

.blue-backdrop2{
	background-image: url('../images/backdrops/flags-medium.jpg');
}

}

//medium displays
@media only screen and (max-width: 600px){
	.blue-backdrop2{
		background-blend-mode: normal;
	}
	.landing{
		.front-heading{
			margin-left: 10%;
		}
		.pic{
			height: 100px;
			width: 100px;
		}
		.tagline{
			font-size: $small-font;
			margin-right: 0;
			align-self: initial;
			.right{
				bottom: 200px;
			}
			span{
				.social{
					height: 28px;
					width: 28px;
				}
			}
		}
		
	}

}


//smallest displays

@media only screen and (max-width: 350px){
	
	.rl-desc{
		p{
			line-height: 12pt;
		}
	}


	.contact{
		.submitButton{
			float: none;
			width: 90%;
			right: 0;
			margin: 2% auto;
			height: 40px;
			display: block;
		}
	}

	.wordpress{
		.headings{
			h3{
				display: none;
			}
		}
		a{
			overflow: hidden;
			height: 100px;
		}
	}

	.img-wrapper{
		width: 90%;
	}

	.automagic{
		blockquote{
			line-height: 11pt;
		}
		h2{
			color: black;
		}
	}
	h2{
		font-size: $big-font;
	}
	.landing{
		.front-heading{
			margin-left: 0;
			h1{
				font-size: $big-font;
			}
			span{
				font-size: $small-font;
			}
		}
		.intro-under{
			display: none;
		}
		.middle{
			line-height: 16pt;
			
			.intro-text{
				width: 100%;
				font-size: $med-font;
			}
			.pic{
				display: none;
			}
		}
		.tagline{
			align-self: center;
			position: relative;
			bottom: 10%;
			big{
				display: none;
			}
			span{
				line-height: 14px;
				.social{
					height: 30px;
					width: 30px;
				}
			}
		}
		nav{
			font-size: $small-font;
			flex-wrap: wrap;
			*{
				line-height: 9pt;
				flex-grow: 1;
			}
		}
	} 
}
